$fonte-primaria: 'Roboto', sans-serif;
$fonte-secundaria: 'Open Sans', sans-serif;

$cor-primaria: #0BBF7D; 
$cor-primaria-shaded: #0bbf7d77;
$cor-secundaria: #147350;

$cor-terciaria: #F2F2F2; 
$cor-acento: #595959; 
$cor-destaque: #0D0D0D; 
$cor-texto: #F4F4F4; // White Smoke
$cor-texto-secundario: #C4C4C4; // Light Gray
$cor-texto-terciario: #8C8C8C; // Gray
$cor-texto-acento: #4C4C4C; // Dark Gray
$cor-texto-destaque: #1F1F1F; // Black
