@import 'variables';

.conteudo_principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
  text-align: justify;

  & img {
    align-self: start;
    width: 50%;
    height: 100%;
  }

  & .exemplo {
    width: 60%;
    align-self: end;
    display: flex;
    margin-top: -50px;
  }
  & span {
    font-size: 16px;
    font-weight: 700;
    color: $cor-primaria;
  }
}
