<header>
  <div class="conteudo_principal">
    <button
      type="button"
      mat-button
      (click)="toggleSidebar()"
      [class.open]="isOpen"
    >
      <span class="material-symbols-outlined"> menu </span>
    </button>
    <div class="logos">
      <figure>
        <img src="assets/logos/unifacisaColoredLogo.svg" alt="logo unifacisa" />
      </figure>
    </div>
  </div>
  <div>
    <button class="logout" (click)="logout()">
      <span class="material-symbols-outlined"> logout </span>
    </button>
  </div>
</header>
