@import 'variables';

.formulario {
  background-color: rgba(0, 0, 0, 0.438);

  padding: 24px 48px;
  border-radius: 24px;
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.527));
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .inputs {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    & .logo{
      font-size: 80px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: -10px;
      left: 45%;
      transform: translateX(-50%);
      border-radius: 100%;
      color: $cor-texto;
      
    }

    & div {
      background-color: $cor-secundaria;
      border-radius: 8px;
    }
  }

  & div {
    margin-bottom: 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;



    & span {
      color: $cor-texto;
      font-size: 24px;
      margin: 0 12px;
      display: flex;
      align-items: center;
    }

    & input {
      background-color: $cor-terciaria;
      border: 1px solid $cor-texto-secundario;
      padding: 8px;
      border-radius: 0 8px 8px 0px;
      width: 90%;

    }
  }

  & button {
    background-color: $cor-primaria;
    color: $cor-texto;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-family: $fonte-primaria;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 90%;
    margin: 0 auto;

  }

  & button:hover {
    background-color: $cor-primaria-hover;
    color: black;
  }
}
