<form (ngSubmit)="autenticar()" #userForm="ngForm" class="formulario">
    <div class="nome">
      <label for="name">Login:</label>
      <input type="text" id="name" required [(ngModel)]="user.nome" name="name">
    </div>
  
    <div>
      <label for="senha">Password:</label>
      <input type="password" id="senhas" required [(ngModel)]="user.senha" name="senha">
    </div>
  
    <button type="submit" [disabled]="!userForm.form.valid">Entrar</button>
  </form>
  
  <p *ngIf="submitted">
    Form Submitted! Name: {{ user.nome }}, Senha: {{ user.senha }}
  </p>
  