@import 'variables';

.content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  transition: padding-left 0.3s;
  padding: 24px;

  & .kaggle_info {
    & figure {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;

      & img {
        width: 40%;
      }
    }
  }

  & .sobre_data{
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    & a {
        text-decoration: none;  
        color: $cor-primaria;
        border: 1px solid $cor-primaria;
        padding: 8px;
        border-radius: 4px;
        transition: background-color 0.3s;
        
        align-self: center;
    }
    & a:visited {
        color: $cor-primaria;
    }
    & a:hover {
        background-color: $cor-primaria;
        color: white;
    }
    & .atencao{
      color: red;
    }
  }

  &.open {
    padding-left: 240px;
  }


  &--inner {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(100% - 280px);
    max-width: 100%;
  }
}
