<app-layout>
  <div class="content" [class.open]="!isOpen">
    <h1>Sobre nossos dados</h1>
    <div class="kaggle_info">
      <p>
        O Kaggle é uma plataforma online que oferece uma ampla gama de recursos
        para ciência de dados e aprendizado de máquina. Criado em 2010, ele se
        tornou um hub para profissionais e entusiastas da área, permitindo que
        os usuários participem de competições de ciência de dados, acessem
        conjuntos de dados, compartilhem e visualizem notebooks interativos e
        colaborem em projetos.
      </p>
      <figure class="logo">
        <img src="/assets/logos/Kaggle_Logo.svg" alt="Logo Kaggle">
      </figure>
    </div>
    <div class="sobre_data">
      <p>
        Nosso conjunto de dados foi retirado da plataforma Kaggle. Trata-se de
        um conjunto de dados abrange informações sobre saúde mental de 1977
        estudantes universitários de Bangladesh, provenientes de 15 das
        principais universidades do país, coletadas entre novembro e dezembro de
        2023 usando o Google Forms. O conjunto inclui avaliações de ansiedade
        acadêmica, estresse e depressão, utilizando escalas psicométricas
        amplamente usadas. O questionário estruturado aborda variáveis
        sociodemográficas e suas associações, facilitando uma análise
        abrangente. A análise estatística revelou uma consistência interna
        satisfatória (alfa de Cronbach: 0,79), com os dados anonimizados dos
        participantes sendo valiosos para formuladores de políticas. Atenção:
        Para melhorar a qualidade dos dados, foram feitas algumas alterações no
        conjunto de dados original. Para mais informações, acesse o link abaixo
        onde você poderá baixar o conjunto de dados original.
      </p>
      <a
        href="https://www.kaggle.com/datasets/mohsenzergani/bangladeshi-university-students-mental-health" target="_blank"
        >Link para a tabela</a
      >
    </div>
  </div>
</app-layout>
