
@use '@angular/material' as mat;

@include mat.core();

$saude_mental-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($saude_mental-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Gotham, "Montserrat", sans-serif; }
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
