<div class="sidenav-content">
  <aside [class.open]="isOpen">
    <figure class="avatar">
      <img src="assets/avatar/alisson.svg" alt="Logo" />
      <h3>ALISSON DEIVISON</h3>
      <p>Desenvolvedor Front-end</p>
    </figure>
    <div class="opcoes">
      <ol>
        <li (click)="redirectTo('/caso-de-uso')"><p>Caso de uso</p></li>
        <li (click)="redirectTo('/home')"><p>Resumo dos dados</p></li>
        <li (click)="redirectTo('/media')"><p>Algoritmos de manipulação</p></li>
        <li><p>Detalhamento dos cálculos</p></li>
      </ol>
    </div>
  </aside>
</div>
