<div class="sidenav-content">
  <aside [class.open]="isOpen">
    <figure class="avatar">
      <img src="assets/avatar/alisson.svg" alt="Logo" />
      <h3>ALISSON DEIVISON</h3>
      <p>Desenvolvedor Front-end</p>
    </figure>
    <div class="opcoes">
      <ol>
        <li
          (click)="redirectTo('/home')"
          [ngClass]="{ active: isActive('/home') }"
        >
          <p>Sobre os dados</p>
        </li>
        <li
          (click)="redirectTo('/resumo')"
          [ngClass]="{ active: isActive('/resumo') }"
        >
          <p>Resumo dos dados</p>
        </li>
        <li
          (click)="redirectTo('/algoritmos')"
          [ngClass]="{ active: isActive('/algoritmos') }"
        >
          <p>Algoritmos de manipulação</p>
        </li>
        <li
          (click)="redirectTo('/detalhes')"
          [ngClass]="{ active: isActive('/detalhes') }"
        >
          <p>Detalhamento dos cálculos</p>
        </li>
      </ol>
    </div>
  </aside>
</div>
