.content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  transition: padding-left 0.3s;
  padding: 24px;

  & .grafico {
    display: flex;
    align-items: center;
    margin: 0 0 24px 0;
    justify-content: center;
    gap: 24px;

    & h2 {
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      
    }

    & p{
      margin: 0;
      font-size: 12px;
      font-weight: 300;
    }
  }

  & .grafico_barras{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin: 0 0 24px 0;
    
    & app-grafico-polar{  
      justify-content: center;
      width: 90%;
    }
    & h2 {
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      
    }

    & p{
      margin: 0;
      font-size: 12px;
      font-weight: 300;
    }
  }

  & app-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &.open {
    padding-left: 240px;
  }

  &--inner {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(100% - 280px);
    max-width: 100%;
  }

}
