@import 'variables';


.card-container {
  padding: 24px;
  display: flex;

  background-color: $cor-secundaria;
  color: $cor-texto;

  border-radius: 4px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  margin: 0 48px;

  width: 300px;

  & .card {
    margin: 24px;
    width: 100%;
    text-align: center;

    & p {
      font-size: 16px;
    }
  }

}
