<app-layout>
    <div class="content">
        <h1>Medidas de posição</h1>
        <h2>Média de idade dos entrevistados</h2>
        <app-tabela></app-tabela>
        <h2>Emprego de Moda</h2>
        <app-calculo-de-moda></app-calculo-de-moda>
        <h2>Emprego de Mediana</h2>
        <app-calculo-de-mediana></app-calculo-de-mediana>
        <h1>Medidas de dispersão</h1>
        <h2>Variância e desvio padrão</h2>
        <app-variancia-e-desvio-padrao></app-variancia-e-desvio-padrao>
        <h2>Coeficiente de Variação</h2>
        <app-coeficiente-de-variacao></app-coeficiente-de-variacao>
    </div>
</app-layout>