<div class="conteudo_principal">
  <p>
    De acordo com a tabela anterior podemos identificar que a nossa classe modal
    é 18
    <img src="assets/elements/barra_intervalo.svg" alt="barra de intervalo" />
    23 uma vez que ela apresenta a maior frequência.
  </p>
  <p>
    Para calcularmos a Moda de uma série de valores com intervalos de classe
    devemos utilizar a seguinte fórmula:
  </p>
  <img src="assets/elements/formula_moda.svg" alt="formula da moda" />
  <p>
    Portanto a Moda da nossa série de valores é: <span>{{ moda }}</span>, esse valor representa o número que ocorre com maior frequência na nossa amostra.
  </p>
</div>
